@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("foto1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper1 {
    width: 800px;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #333;
    border-radius: 10px;
    padding: 20px 40px;
}

.wrapper1 h1 {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper1 a {
    
}

.wrapper2 {
    width: 700px;
    background: gainsboro;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #333;
    border-radius: 10px;
    padding: 30px 50px;
    margin: auto;
}

.wrapper2 table {
    width: 600px;
    margin: auto;
}